---
name: Ref-eree - Test env var interpolation for checkout action
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      ref:
        description: 'The ref to tag. Can only be the 40 character SHA.'
        required: true
        default: ''

jobs:
  referee:
    runs-on: ubuntu-latest
    env:
      REF: ${{ github.event.inputs.ref }}
    steps:

      - name: Show github SHA before checkout
        run: |
          echo "Before checkout, GITHUB_SHA is $GITHUB_SHA"

      - name: Checkout ref (interpolate to env var)
        uses: actions/checkout@v6
        with:
          ref: ${{ env.REF }}

      - name: Show what we checked out
        env:
          REF: ${{ github.event.inputs.ref }}
        run: |
          echo "After checkout, HEAD is $(git rev-parse HEAD)"
          echo "If that matches $REF, LGTM"

      - name: Lowercase github owner (node)
        run: |
          echo "OWNER_NODE=$(echo 'console.log("${{ github.repository_owner }}".toLowerCase())' | node -)" >> $GITHUB_ENV

      - name: Lowercase github owner (tr)
        run: |
          echo "OWNER=$(echo $GITHUB_REPOSITORY_OWNER | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Show results of lowercasing
        run: |
          echo "node: ${{ env.OWNER_NODE }}"
          echo "tr: ${{ env.OWNER }}"
