---
name: Ref-eree - Test env var interpolation for checkout action
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      ref:
        description: 'The ref to tag. Can only be the 40 character SHA.'
        required: true
        default: ''

jobs:
  referee:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout ref (passing direct parameter)
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Checkout ref (interpolate to env var)
        uses: actions/checkout@v6
        env:
          REF: ${{ github.event.inputs.ref }}
        with:
          ref: "$REF"

      - name: Show what we checked out
        env:
          REF: ${{ github.event.inputs.ref }}
        run: |
          echo "The current head is $(git rev-parse HEAD)"
          echo "If that matches $REF, LGTM"
